# Datasets & Outputs
data/
outputs/
venv/
env/
.venv/

# Weights & Models
*.pt
*.pth
*.onnx
*.engine

# Python & Environment
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
